.nav {
  &__menu {
    list-style: none;
    padding-left: 0px;
  }
  &__item {
    margin-bottom: 0.6em;
  }
  &__arrows {
    color: #ffffff;
  }
  &__balls {
    circle.nav__ball_active {
      cy: 5;
      r: 5;
      fill: #F063B8;
    }
  }
  @media screen and (min-width: 780px) {
    &__menu {
      padding-left: 2em;
      &_stack {
        padding-left: 0em;
        .nav__item {
          display: block;
          margin-left: 0em;
        }
      }
    }
    &__item {
      display: inline;
      margin-left: 2em;
    }
  }
}