$borderRadius: 50px;
$borderRadiusSm: 20px;
$primary1: #9C69E2;
$primary2: #F063B8;

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;

  &_wrapper {
    max-width: 1120px;
  }
  &_spaced {
    margin: 4em auto;
  }
  &_center {
    text-align: center;
  }
  &_mtn {
    margin-top: 0;
  }
  &_mbn {
    margin-bottom: 0;
  }
  &_pan {
    padding: 0;
  }
  &_ptn {
    padding-top: 0;
  }
  &_pbn {
    padding-bottom: 0;
  }
  &_pln {
    padding-left: 0;
  }
  &_prn {
    padding-right: 0;
  }
  &_nowrap {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  &_hero {
    background-image: url('/img/hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 50%;
  }
  &_callout {
    background: rgba(240, 99, 184, 0.15);
    border-radius: $borderRadius;
  }
  &_card {
    svg {
      display: none;
    }
  }
  &__col {
    &_halfsy, &_full {
      flex: 0 0 100%;
    }
    &_spaced {
      margin: 4em auto;
    }
  }

  @media screen and (min-width: 780px) {

    justify-content: space-between;
    &_header {
      .section__col {
        display: flex;
        align-items: center;
      }
      button {
        margin-left: auto;
      }
    }
    &_hero {
      background-position: 100% 50%;
      background-size: 60%;
      padding-top: 0px;
    }
    &_card {
      position: relative;
      svg {
        display: block;
        position: absolute;
        width: 70%;
        height: 100%;
        right: 0;
        z-index: -1;
      }
    }
    &__col {
      &_right {
        text-align: right;
      }
      &_halfsy {
        flex: 0 0 50%;
        &_gutter {
          flex: 0 0 45%;
        }
      }
      &_3_fourthsy {
        flex: 0 0 75%;
        &_gutter {
          flex: 0 0 70%;
        }
      }
      &_1_fourthsy {
        flex: 0 0 25%;
        &_gutter {
          flex: 0 0 20%;
        }
      }
      &_2_thirdsy {
        flex: 0 0 66.67%;
      }
      &_1_thirdsy {
        flex: 0 0 33.33%;
      }
    }
    &_footer {
      .section__col {
        display: flex;
        justify-content: space-between;
      }
    }

  }
}

